*{
	margin:0px;
	padding:0px;
}
.nav_top{
	width: 100%;
    margin: 0 auto;
	height: 55px;
 
}
#logo {
    margin-top: 15px;
    margin-left: 50%;
}
.top_list {
    float:right;
    margin-top: 10px;
    margin-right: 20px;
    
}
.top_list ul li{
    display: inline;
    padding: 10px;
}
.clear{
    clear: both;
}
.menu_bar_container {
    width: 100%;
    height: 100px;
}
.bottom_list {
    margin: 0 auto;
    border-top: 1px grey solid;
    border-bottom: 1px grey solid;
   
}
.bottom_list ul {
    display:flex;
    justify-content: center;
  
}
.bottom_list ul li {
    display: inline;
    padding: 10px;
}


  
